



<h1>Edit Guestbook</h1>

<!-- TODO: make this a partial -->
<f:form.errors for="guestbook">
	<div class="error">
		{error.message}
		<f:if condition="{error.propertyName}">
			<p>
				<strong>{error.propertyName}</strong>:
				<f:for each="{error.errors}" as="errorDetail">
					{errorDetail.message}
				</f:for>
			</p>
		</f:if>
	</div>
</f:form.errors>

<f:form method="post" action="update" name="guestbook" object="{guestbook}">

	
	<label for="title"><f:translate key="tx_t3community_domain_model_guestbook.text" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="text" /><br />
	

	

<f:form.submit value="Edit" />
</f:form>